<!DOCTYPE html>
<html class="no-js" lang="en">

<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>||A.V.T.A.R||</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../nf/style.css">

    <!-- script
    ================================================== -->
    <script src="js/modernizr.js"></script>
    <script src="js/pace.min.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

</head>

<body>
    
    <div class="cont">
        <!-- -navbar section -->
        <nav class="navbar">
            <div class="navbar__container">
                <a href="/index" id="navbar__logo">
                    </i>||A.V.T.A.R||</a>
                <div class="navbar__toggle" id="mobile-menu">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
                <ul class="navbar__menu">
                    <li class="navbar__item">
                        <a href="/index" class="navbar__links"> Home </a>
                    </li>
                    <li class="navbar__item">
                        <a href="/tech" class="navbar__links"> Tech </a>
                    </li>
                    <li class="navbar__item">
                        <a href="../game.html" class="navbar__links"> Game </a>
                    </li>
                    <li class="navbar__btn">
                        <a href="/profile" class="btn"> Profile </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <section class="s-microcontrollers" style="z-index:-2; color: white;">
        <div class="row">
            <div class="col-full">
                <h2 class="display-2">Arduino and Microcontrollers</h2>
                <p class="lead">Microcontrollers are small computer chips that can be programmed to perform specific tasks. The Arduino is a popular microcontroller platform that is widely used for educational purposes and hobby projects.</p>
            </div>
        </div>
    
        <div class="row block-1-2 block-tab-full">
            <div class="col-block">
                <h3 class="h3">What is a Microcontroller?</h3>
                <p>A microcontroller is a small computer chip that can be programmed to perform specific tasks. It is commonly used in electronic devices and embedded systems, such as in appliances, cars, and industrial machinery. </p>
            </div>
            <div class="col-block">
                <h3 class="h3">What is Arduino?</h3>
                <p>Arduino is an open-source electronics platform based on easy-to-use hardware and software. It is designed for anyone interested in creating interactive projects. Arduino boards are able to read inputs - light on a sensor, a finger on a button, or a Twitter message - and turn it into an output - activating a motor, turning on an LED, publishing something online.</p>
            </div>
        </div>
    
        <div class="row">
            <div class="col-full">
                <img src="images/microcontroller.jpg" alt="Microcontroller" class="s-microcontrollers__image">
            </div>
        </div>
    </section>
    

    <!-- home
    ================================================== -->
    <main class="s-home s-home--particles">

        <div id="particles-js" class="home-particles"></div>

        <div class="gradient-overlay"></div>
        

    </main> <!-- end s-home -->


    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader">
            <div class="line-scale-pulse-out">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>



    <!-- Java Script
    ================================================== -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/polygons.js"></script>
    <script src="js/main.js"></script>

</body>

</html>